
body{
    background-color:rgb(106, 203, 239);
}
.flex-cont{
    display: flex;
    flex-direction: row;
}

@media screen and (min-width: 100px) and (max-width: 440px){
    .navbar{
        background-color: aqua;
        width: 50%;
        height: 15vh;
    }
    
}


form {
    width: 360px;
    height: 720px;
    margin:  0 auto;
    padding: 15px;
 
   border-radius: 3px;
   font-size: 0.8em;

}
input, textarea{
    outline: none;
    border: 0;
    width: 280px;

}
.field{
    border: solid 1px #ccc;
    padding: 10px;
}

.field:focus{
    border-color: rgb(110, 24, 88);
}
.center-cont{
    text-align: center;
}


  .controls {
    width: 100%;
    background: #e5eaec;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: 'calibri';
    font-size: 18px;
    color: rgb(10, 0, 0);
  }
  .select{
    width: 100%;
    background: #f2f4f5;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: 'calibri';
    font-size: 18px;
    color: rgb(0, 0, 0);
  }

  .parraf {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

  
  
  .btn{
	border-radius: 3px;
	display: inline-block;
	padding: 20px 15px;
	text-decoration: none;
	text-shadow: 0 1px 0 rgba(255,255,255,0.3);
	box-shadow: 0 1px 1px rgba(0,0,0,0.3); 
}

.btn-green{
	color: white;
	background-color: #c9723c;
}
.btn-green:hover{
	background-color: #37B839;	
}
.btn-green:active{
	background-color: #29962A;
}

.small-txt {
    margin: 20px 0;
}

input[type="checkbox"] {
    position: relative;
    width: 40px;
    height: 20px;
    background-color: #434343;
    appearance: none;  
    outline: none;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s ease;
} 

input[type="checkbox"]:checked {
    background-color: #04ac2e;
}

input[type="checkbox"]::before {
     content: '';
     position: absolute;
     width: 16px;
     height: 16px;
     background-color: #f2f2f2;
     border-radius: 50%;
     top: 2px;
     left: 2px;
     transition: 0.7s ease;
}

input[type="checkbox"]:checked::before {
    transform: translateX(20px);
}

.dark-mode {
    background-color: #252525;
    color: #f2f2f2;
}
